html{
    background-color:aqua
}
.box{
  background-color:chartreuse;
  font-family:cursive;
}
blink{
  -webkit-animation: 2s linear infinite condemned_blink_effect; /* for Safari 4.0 - 8.0 */
  animation: 2s linear infinite condemned_blink_effect;
}
.green{
  background-color:green;
}
.wingdings{
  font-size:300%;
  font-family:Wingdings;
}
#ballWrapper{
	width:140px;
	height:300px;
	position:fixed;
	left:50%;
	top:50%;
	margin:-150px 0 0 -70px;
}
#ball{
	width:140px;
	height:140px;
	border-radius:70px;
	background:linear-gradient(top,rgba(187,187,187,1) 0%,rgba(119,119,119,1) 99%);
	box-shadow:inset 0 -5px 15px rgba(255,255,255,0.4),
				inset -2px -1px 40px rgba(0,0,0,0.4),
				0 0 1px #000;
  animation:jump 1s infinite;
}
#ball::after{
	content:"";
	width:80px;
	height:40px;
	position:absolute;
	left:30px;
	top:10px;
	background:linear-gradient(top,  rgba(232,232,232,1) 0%,rgba(232,232,232,1) 1%,rgba(255,255,255,0) 100%);
	border-radius:40px/20px;
}
#ballShadow{
 width:60px;
 height:75px;
 position:absolute;
 z-index:0;
 bottom:0;
 left:50%;
 margin-left:-30px;
 background:rgba(20, 20, 20, .1);
 box-shadow:0px 0 20px 35px rgba(20,20,20,.1);
 border-radius:30px / 40px;
 animation:shrink 1s infinite;
 transform:scale(1);
 transition:all 5s linear 0s;
}
#ballWrapper:active{
	transform:scale(0);
}
@keyframes jump{
	0%{
		top:0;
	}
	50%{
		top:140px;
		height:140px;
	}
	55%{
		top:160px;
		height:120px;
		border-radius:70px / 60px;
	}
	65%{
		top:120px;
		height:140px;
		border-radius:70px;
	}
	95%{
		top:0;
	}
	100%{
		top:0;
	}
}
@-keyframes shrink{
	0%{
		bottom:0;
		margin-left:-30px;
		width:60px;
		height:75px;
		background:rgba(20, 20, 20, .1);
		box-shadow:0px 0 20px 35px rgba(20,20,20,.1);
		border-radius:30px / 40px;
	}
	50%{
		bottom:30px;
		margin-left:-10px;
		width:20px;
		height:5px;
		background:rgba(20, 20, 20, .3);
		box-shadow:0px 0 20px 35px rgba(20,20,20,.3);
		border-radius:20px / 20px;
	}
	100%{
		bottom:0;
		margin-left:-30px;
		width:60px;
		height:75px;
		background:rgba(20, 20, 20, .1);
		box-shadow:0px 0 20px 35px rgba(20,20,20,.1);
		border-radius:30px / 40px;
	}
}
@-webkit-keyframes condemned_blink_effect{
  0% {
    visibility:hidden;
  }
  50% {
    visibility:hidden;
  }
  100% {
    visibility:visible;
  }
}
@keyframes condemned_blink_effect{
  0%{
    visibility:hidden;
  }
  50%{
    visibility:hidden;
  }
  100%{
    visibility:visible;
  }
}

.game{
  margin:auto;
}
.game-button:nth-of-type(1){
    background-color:red;
}
.game-button:nth-of-type(2){
    background-color:green;
}
.game-button:nth-of-type(3){
    background-color:blue;
}
.game-button:nth-of-type(4){
    background-color:yellow;
}
.game-button:nth-of-type(1).litUp{
    background-color:lightcoral;
}
.game-button:nth-of-type(2).litUp{
    background-color:lightgreen;
}
.game-button:nth-of-type(3).litUp{
    background-color:lightblue;
}
.game-button:nth-of-type(4).litUp{
    background-color:lightgoldenrodyellow;
}
.game{
  margin:20px auto;
  width:400px;
  height:400px;
  display:grid;
  grid-template-columns:200px 200px;
  grid-row:auto auto;
  grid-column-gap:20px;
  grid-row-gap:20px;
  .box{
    padding:20px;
    border-radius:10px;
    color:#fff;
    display:flex;
    align-items:center;
    justify-content:center;
  }

}